<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles bg-primary">
            <h4 class="m-b-0 text-white">{{g.title}}</h4>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-body">

                        <!-- Education -->
                        <h4 class="card-title m-t-20 p-b-10 border-bottom">Lot</h4>

                        <div class="container-fluid">
                            <div class="row">
                                <!-- .left-aside-column-->
                                <div class="col-lg-12">
                                    <div class="table-responsive m-t-40">
                                        <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
                                            <thead>
                                                <tr>
                                                    <td>Numero</td>
                                                    <th>Projet</th>
                                                    <th *ngIf="lot.Metre">Metrage</th>
                                                    <th>Etat</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>{{(lot.Numero)}}</td>
                                                    <td>{{(lot.LibelleProjet)}}</td>
                                                    <td *ngIf="lot.Metre">{{lot.Metre}} M²</td>
                                                    <td>{{lot.Etat}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!-- Certification -->
                        <h4 class="card-title m-t-20 p-b-10 border-bottom">Détails de vente</h4>

                        <div class="container-fluid">
                            <div class="row">
                                <!-- .left-aside-column-->
                                <div class="col-lg-12">
                                    <div class="table-responsive m-t-40">
                                        <table datatable [dtOptions]="dtOptions" class="display nowrap table table-hover table-striped border" id="datatableexample2">
                                            <thead>
                                                <tr>
                                                    <th>N° commande</th>
                                                    <th>Date validation</th>
                                                    <th>Achteur</th>
                                                    <th>Montant declarer</th>
                                                    <th>Montant restant</th>
                                                    <th>Valider par</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>522</td>
                                                    <td>23 juin 2022</td>
                                                    <td>Ahmed</td>
                                                    <td>450000 MAD</td>
                                                    <td>200000 MAD</td>
                                                    <td>Morad</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>